@{
    ViewBag.Title = "37℃空间-个人博客";
}
@section css{
    <link href="~/web/css/index.css" rel="stylesheet" />
    <link href="~/web/css/blog.css" rel="stylesheet" />
}
@using App.Entities
@model List<BannerInfo>
<div class="blog-user"></div>
<div class="blog-body">
    <div class="layui-row">
        <div class="layui-carousel blog-bg" id="carousel" lay-anim="default" lay-indicator="inside" lay-arrow="always" style=" height: 360px;">
            <div class="banner" carousel-item="">
                @foreach (BannerInfo info in Model)
                {
                    <div>
                        <a href="@(string.IsNullOrWhiteSpace(info.Link) ? "javascript:void(0);" : info.Link)">
                            <img src="@info.ImgUrl" />
                        </a>
                    </div>
                };
            </div>
        </div>
    </div>
    <div class="blog-container">
        <div class="blog-main">
            <div class="home-tips shadow layui-hide">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container" id="tips">
                    <!--公告部分-->
                </div>
            </div>
            <div class="blog-main-left animated slideInLeft">
                <div class="flow-default" id="parentArticleList">

                </div>
            </div>
            <div class="blog-main-right">
                <!--个人头像模块-->
                <div class="blogerinfo shadow animated fadeInRight">
                    <div class="blogerinfo-figure">
                        <img src="~/web/images/default.jpg" alt="念舊">
                    </div>
                    <p class="blogerinfo-nickname">念舊</p>
                    <p class="blogerinfo-introduce">心之所向，素履以往。</p>
                    <p class="blogerinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;<span>广东-深圳</span></p>
                    <hr>
                    <div class="blogerinfo-contact">
                        <a target="_blank" id="QQjl" title="QQ交流" href="http://shang.qq.com/email/stop/email_stop.html?qq=823302316"><i class="fa fa-qq fa-2x"></i></a>
                        <a target="_blank" id="gwxx" title="给我写信" href="mailto:823302316@qq.com"><i class="fa fa-envelope fa-2x"></i></a>
                        <a target="_blank" id="xlwb" title="码云" href="https://gitee.com/miss_you"><i class="fa fa-git-square fa-2x"></i></a>
                        <a target="_blank" id="htgl" title="后台管理" href="/main"><i class="fa fa-database fa-2x"></i></a>
                    </div>
                </div>
                <!--标签-->
                <div id="tagsview" class="blog-module shadow animated fadeInRight fadeInUp tags">
                    <div class="blog-module-title"><i class="fa fa-tag"></i>&nbsp;标签</div>
                </div>
                <!--热门文章-->
                <div class="blog-module shadow animated fadeInRight">
                    <div class="blog-module-title"><i class="layui-icon layui-icon-fire"></i>&nbsp;热门文章</div>
                    <ul class="hot-list" id="hot"></ul>
                </div>
                <!--博主介绍开始-->
                <div class="blog-module shadow animated fadeInRight">
                    <div class="blog-module-title"><i class="fa fa-file-text-o"></i>&nbsp;博主介绍</div>
                    <p>一枚90后的.net程序猿，目前是一个码农，主要从事.net开发工作。-- 念舊</p>
                </div>

                <!--友情链接-->
                <div class="blog-module shadow animated fadeInRight">
                    <div class="blog-module-title"><i class="fa fa-link"></i>&nbsp;友情链接</div>
                    <ul class="blogroll" id="link"></ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script id="newsview" type="text/template">
    <div class="article shadow animated zoomIn">
        <div class="article-left ">
            <img src="{{d.Thumbnail}}" alt="{{d.Title}}">
        </div>
        <div class="article-right">
            <div class="article-title">
                {{# if(d.IsTop){}}
                <span class="article_is_top">置顶</span>&nbsp;
                {{#} }}

                <span class="article_is_yc">
                    {{#  if(d.CreativeType == 0){ }}
                    原创
                    {{#  }else{ }}
                    转载
                    {{#} }}
                </span>&nbsp;
                <a href="/article/detail/{{d.ArticleId}}">{{d.Title}}</a>
            </div>
            <div class="article-abstract">
                {{d.Summary}}
            </div>
        </div>
        <div class="clear"></div>
        <div class="article-footer">
            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{d.PublishDate}}</span>
            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp; {{d.Author}}</span>
            <span>
                <i class="fa fa-tag"></i>&nbsp;&nbsp;
                {{#  layui.each(d.Tags, function(i, curr){}}
                <a href="/article/list?tid={{curr.TagId}}" class="flag"> {{curr.TagName}}</a>
                {{#  }); }}
            </span>
            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{d.ReadTimes}}</span>
            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{d.MsgTimes}}</span>
        </div>
    </div>
</script>
<script type="text/template" id="tipsview">
    {{#  layui.each(d, function(index, item){ }}
    <span style="color: rgb(0, 150, 136); cursor: pointer; display:{{index==0?'block':'none'}};">
        <p><span><a style="color: rgb(0, 150, 136);" href="{{item.Link||'javascript:void(0);'}}" target="{{item.Target||'_self'}}">{{item.Description}}</a></span></p>
    </span>
    {{#  }); }}
</script>
<script id="hotview" type="text/template">
    {{#  layui.each(d, function(index, item){ }}
    <li>
        <a href="/article/detail/{{item.ArticleId}}">
            <img src="{{item.Thumbnail}}" />
        </a>
        <div class="hot-right-box">
            <h4>
                <a href="/article/detail/{{item.ArticleId}}">{{item.Title}}</a>
            </h4>
            <p class="hot-date">
                <i class="layui-icon layui-icon-date"></i>
                <a>{{item.PublishDate}}</a>
            </p>
            <p class="hot-view">
                <i class="layui-icon layui-icon-read"></i>
                <a>{{item.ReadTimes}}</a>
            </p>
        </div>
    </li>
    {{#  }); }}
</script>
<script id="temptags" type="text/template">
    {{#  layui.each(d, function(index, item){ }}
    <a class="animated3" href="/article/list?tid={{item.TagId}}" title="{{item.TagName}}" style="background-color:{{item.Color}}">
        {{item.TagName}}
        <span class="layui-bg-gray" style="font-size: 14px;padding:0 4px;border-radius: 2px;">{{item.Total}}</span>
    </a>
    {{#  }); }}
</script>
<script type="text/template" id="linkview">
    {{#  layui.each(d, function(index, item){ }}
    <li>
        <a target="_blank" href="{{item.Link}}" title="{{item.SiteName}}">{{item.SiteName}}</a>
    </li>
    {{#  }); }}
</script>
@section script{
    <script src="~/web/js/index.js"></script>
}