USE [master]
GO
/****** Object:  Database [Blog]    Script Date: 2021/5/6 16:12:01 ******/
CREATE DATABASE [Blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blog', FILENAME = N'E:\SQL-Database\Blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Blog_log', FILENAME = N'E:\SQL-Database\Blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blog]
GO
/****** Object:  Table [dbo].[ArticleCategory]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleCategory](
	[Id] [varchar](36) NOT NULL,
	[ArticleId] [varchar](36) NULL,
	[CategoryId] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleInfo](
	[Id] [varchar](36) NOT NULL,
	[Title] [varchar](128) NULL,
	[CreativeType] [tinyint] NULL,
	[Source] [varchar](32) NULL,
	[SourceLink] [varchar](256) NULL,
	[Author] [varchar](32) NULL,
	[Summary] [varchar](512) NULL,
	[Thumbnail] [varchar](256) NULL,
	[Content] [text] NULL,
	[PublishDate] [datetime] NULL,
	[IsTop] [bit] NULL,
	[Visible] [bit] NULL,
	[DeleteMark] [bit] NOT NULL,
	[ReadTimes] [int] NOT NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleTags]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleTags](
	[Id] [varchar](36) NOT NULL,
	[ArticleId] [varchar](36) NULL,
	[TagsId] [varchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BannerInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerInfo](
	[Id] [varchar](36) NOT NULL,
	[Title] [varchar](64) NULL,
	[ImgUrl] [varchar](256) NULL,
	[Link] [varchar](256) NULL,
	[Target] [varchar](16) NULL,
	[SortCode] [tinyint] NULL,
	[DeleteMark] [bit] NULL,
	[CreatorTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryInfo](
	[Id] [varchar](36) NOT NULL,
	[CategoryName] [varchar](32) NULL,
	[ParentId] [varchar](36) NULL,
	[SortCode] [int] NULL,
	[EnabledMark] [bit] NULL,
	[DeleteMark] [bit] NOT NULL,
	[Description] [varchar](128) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendLink]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendLink](
	[Id] [varchar](36) NOT NULL,
	[SiteName] [varchar](128) NULL,
	[Link] [varchar](256) NULL,
	[Logo] [varchar](256) NULL,
	[SortCode] [tinyint] NULL,
	[DeleteMark] [bit] NOT NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveMsgInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveMsgInfo](
	[Id] [varchar](36) NOT NULL,
	[ArticleId] [varchar](36) NULL,
	[RootId] [varchar](36) NULL,
	[ParentId] [varchar](36) NULL,
	[FromUId] [varchar](36) NULL,
	[ToUId] [varchar](36) NULL,
	[Content] [varchar](512) NULL,
	[IP] [varchar](64) NULL,
	[Adscription] [varchar](32) NULL,
	[DeleteMark] [bit] NOT NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoticeInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoticeInfo](
	[Id] [varchar](36) NOT NULL,
	[Description] [varchar](256) NULL,
	[Link] [varchar](256) NULL,
	[Target] [varchar](16) NULL,
	[SortCode] [tinyint] NULL,
	[DeleteMark] [bit] NOT NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QQuserInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QQuserInfo](
	[Id] [varchar](36) NOT NULL,
	[OpenId] [varchar](36) NULL,
	[NikeName] [varchar](36) NULL,
	[Gender] [varchar](8) NULL,
	[Birthday] [varchar](32) NULL,
	[Province] [varchar](32) NULL,
	[Image40] [varchar](256) NULL,
	[Image100] [varchar](256) NULL,
	[IsMaster] [bit] NULL,
	[LastLoginTime] [datetime] NULL,
	[AccessToken] [varchar](64) NULL,
	[ExpireDate] [datetime] NULL,
	[RefreshToken] [varchar](64) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysAccount]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAccount](
	[Id] [varchar](36) NOT NULL,
	[UserName] [varchar](30) NULL,
	[Password] [varchar](100) NULL,
	[DepartmentId] [varchar](36) NULL,
	[RoleId] [varchar](36) NULL,
	[DeleteMark] [bit] NOT NULL,
	[EnabledMark] [bit] NULL,
	[CreatorAccountId] [varchar](36) NULL,
	[DeleteAccountId] [varchar](36) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysButton]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysButton](
	[Id] [varchar](36) NOT NULL,
	[SysModuleId] [varchar](36) NULL,
	[FullName] [varchar](20) NULL,
	[Icon] [varchar](50) NULL,
	[EnCode] [varchar](20) NULL,
	[Location] [tinyint] NULL,
	[JsEvent] [varchar](50) NULL,
	[UrlAddress] [varchar](200) NULL,
	[SortCode] [int] NULL,
	[Description] [varchar](100) NULL,
	[CreatorAccountId] [varchar](36) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysModule]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysModule](
	[Id] [varchar](36) NOT NULL,
	[ParentId] [varchar](36) NULL,
	[FullName] [varchar](20) NULL,
	[EnCode] [varchar](20) NULL,
	[Icon] [varchar](50) NULL,
	[UrlAddress] [varchar](200) NULL,
	[Target] [varchar](10) NULL,
	[IsExpand] [bit] NULL,
	[SortCode] [int] NULL,
	[EnabledMark] [bit] NULL,
	[DeleteMark] [bit] NOT NULL,
	[Description] [varchar](100) NULL,
	[CreatorAccountId] [varchar](36) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysPermission]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysPermission](
	[Id] [varchar](36) NOT NULL,
	[ModuleType] [int] NULL,
	[SysModuleId] [varchar](36) NULL,
	[ObjectType] [tinyint] NULL,
	[AuthorizeId] [varchar](36) NULL,
	[CreatorAccountId] [varchar](36) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysRole]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRole](
	[Id] [varchar](36) NOT NULL,
	[FullName] [varchar](20) NULL,
	[EnCode] [varchar](20) NULL,
	[SortCode] [int] NULL,
	[EnabledMark] [bit] NULL,
	[DeleteMark] [bit] NOT NULL,
	[Description] [varchar](100) NULL,
	[CreatorAccountId] [varchar](36) NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUser]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[Id] [varchar](36) NOT NULL,
	[AccountId] [varchar](36) NULL,
	[RealName] [varchar](10) NULL,
	[NickName] [varchar](20) NULL,
	[HeadIcon] [varchar](200) NULL,
	[Gender] [bit] NULL,
	[Birthday] [datetime] NULL,
	[MobilePhone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[WeChat] [varchar](50) NULL,
	[Signature] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsInfo]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsInfo](
	[Id] [varchar](36) NOT NULL,
	[TagName] [varchar](32) NULL,
	[BGColor] [varchar](32) NULL,
	[SortCode] [tinyint] NULL,
	[DeleteMark] [bit] NOT NULL,
	[EnabledMark] [bit] NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLine]    Script Date: 2021/5/6 16:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLine](
	[Id] [varchar](36) NOT NULL,
	[Content] [varchar](512) NULL,
	[PublishDate] [datetime] NULL,
	[DeleteMark] [bit] NOT NULL,
	[CreatorTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ArticleCategory] ([Id], [ArticleId], [CategoryId]) VALUES (N'1085797121522798592', N'1078567484732346369', N'1077813292921131008')
INSERT [dbo].[ArticleCategory] ([Id], [ArticleId], [CategoryId]) VALUES (N'1085797610641559553', N'1085792032494063616', N'1078106657545916416')
INSERT [dbo].[ArticleCategory] ([Id], [ArticleId], [CategoryId]) VALUES (N'1154682542272679937', N'1146659339214393344', N'1077812567801466880')
GO
INSERT [dbo].[ArticleTags] ([Id], [ArticleId], [TagsId]) VALUES (N'1085797121522798593', N'1078567484732346369', N'1085796895001022464')
INSERT [dbo].[ArticleTags] ([Id], [ArticleId], [TagsId]) VALUES (N'1085797610641559554', N'1085792032494063616', N'1085792939428417536')
INSERT [dbo].[ArticleTags] ([Id], [ArticleId], [TagsId]) VALUES (N'1085797610641559555', N'1085792032494063616', N'1085797504391450624')
GO
INSERT [dbo].[BannerInfo] ([Id], [Title], [ImgUrl], [Link], [Target], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1077743401996259328', N'夜景', N'/Uploads/Resource/20181226095019.jpg', N'javascript:void(0);', N'_blank', 1, 0, CAST(N'2018-12-26T09:50:25.000' AS DateTime))
INSERT [dbo].[BannerInfo] ([Id], [Title], [ImgUrl], [Link], [Target], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1078584458174664704', N'黄昏', N'/Uploads/Resource/20181228173218.jpg', N'javascript:void(0);', NULL, 2, 0, CAST(N'2018-12-28T17:32:29.000' AS DateTime))
GO
INSERT [dbo].[CategoryInfo] ([Id], [CategoryName], [ParentId], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorTime]) VALUES (N'1077812567801466880', N'.Net Core', N'0', 1, 1, 0, NULL, CAST(N'2018-12-26T14:25:16.000' AS DateTime))
INSERT [dbo].[CategoryInfo] ([Id], [CategoryName], [ParentId], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorTime]) VALUES (N'1077813292921131008', N'精彩回顾', N'0', 2, 1, 0, NULL, CAST(N'2018-12-26T14:28:08.000' AS DateTime))
INSERT [dbo].[CategoryInfo] ([Id], [CategoryName], [ParentId], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorTime]) VALUES (N'1077814865269231616', N'MVC', N'1077812567801466880', 1, 0, 0, NULL, CAST(N'2018-12-26T14:34:23.000' AS DateTime))
GO
INSERT [dbo].[FriendLink] ([Id], [SiteName], [Link], [Logo], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1081038270139338752', N'SqlSugar', N'http://www.donet5.com/', NULL, 1, 0, CAST(N'2019-01-04T12:03:03.000' AS DateTime))
INSERT [dbo].[FriendLink] ([Id], [SiteName], [Link], [Logo], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1081061977629003777', N'layui', N'https://www.layui.com/', N'https://res.layui.com/static/images/layui/logo-2.png', 2, 0, CAST(N'2019-01-04T13:37:15.000' AS DateTime))
GO
INSERT [dbo].[NoticeInfo] ([Id], [Description], [Link], [Target], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1081027974448418816', N'37℃空间于2019年1月1日正式上线啦....— 念舊', NULL, NULL, 1, 0, CAST(N'2019-01-04T11:22:08.000' AS DateTime))
INSERT [dbo].[NoticeInfo] ([Id], [Description], [Link], [Target], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1081079670096662528', N'可以抢回家的火车票啦........................', NULL, NULL, 2, 1, CAST(N'2019-01-04T14:47:33.000' AS DateTime))
INSERT [dbo].[NoticeInfo] ([Id], [Description], [Link], [Target], [SortCode], [DeleteMark], [CreatorTime]) VALUES (N'1081080389839228929', N'由于博客初步上线，还有一些功能正在开发中，基本功能已经正式上线啦以及优化，后续慢慢完善，敬请期待。', NULL, NULL, 2, 0, CAST(N'2019-01-04T14:50:25.000' AS DateTime))
GO
INSERT [dbo].[SysAccount] ([Id], [UserName], [Password], [DepartmentId], [RoleId], [DeleteMark], [EnabledMark], [CreatorAccountId], [DeleteAccountId], [CreatorTime]) VALUES (N'1059727415166767104', N'admin', N'0af6961593cf8a42e0cb1748c2f779d6', NULL, N'1060467618403717120', 0, 1, N'1059727415166767104', NULL, CAST(N'2018-11-06T16:43:27.000' AS DateTime))
INSERT [dbo].[SysAccount] ([Id], [UserName], [Password], [DepartmentId], [RoleId], [DeleteMark], [EnabledMark], [CreatorAccountId], [DeleteAccountId], [CreatorTime]) VALUES (N'1059728142672990208', N'root', N'53dc31143487fcfa2ec55d0bcc140c21', NULL, N'1060467690218590208', 0, 1, N'1059727415166767104', NULL, CAST(N'2018-11-06T16:45:15.000' AS DateTime))
GO
INSERT [dbo].[SysButton] ([Id], [SysModuleId], [FullName], [Icon], [EnCode], [Location], [JsEvent], [UrlAddress], [SortCode], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060473563204685824', N'1060469432956096512', N'添加', N'layui-icon layui-icon-add-circle-fine', N'add', 1, N'add', N'/SystemManage/Module/Form', 1, NULL, N'1059727415166767104', CAST(N'2018-09-04T16:42:27.000' AS DateTime))
INSERT [dbo].[SysButton] ([Id], [SysModuleId], [FullName], [Icon], [EnCode], [Location], [JsEvent], [UrlAddress], [SortCode], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060473621564231680', N'1060469432956096512', N'编辑', N'layui-icon layui-icon-edit', N'edit', 2, N'edit', N'/SystemManage/Module/Form', 2, NULL, N'1059727415166767104', CAST(N'2018-09-04T16:56:06.000' AS DateTime))
INSERT [dbo].[SysButton] ([Id], [SysModuleId], [FullName], [Icon], [EnCode], [Location], [JsEvent], [UrlAddress], [SortCode], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060473721015373824', N'1060469432956096512', N'删除', N'layui-icon layui-icon-delete', N'delete', 2, N'delete', N'/SystemManage/Module/Delete', 3, NULL, N'1059727415166767104', CAST(N'2018-09-04T16:58:28.000' AS DateTime))
GO
INSERT [dbo].[SysModule] ([Id], [ParentId], [FullName], [EnCode], [Icon], [UrlAddress], [Target], [IsExpand], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060468559337099264', N'0', N'系统管理', N'SystemManage', N'fa fa-television', NULL, NULL, 0, 1, 1, 0, NULL, N'1060467618403717120', CAST(N'2018-10-15T15:44:28.000' AS DateTime))
INSERT [dbo].[SysModule] ([Id], [ParentId], [FullName], [EnCode], [Icon], [UrlAddress], [Target], [IsExpand], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060469432956096512', N'1060468559337099264', N'菜单管理', N'MenuManage', N'fa fa-navicon', N'/SystemManage/Module/Index', NULL, 0, 1, 1, 0, NULL, N'1060467618403717120', CAST(N'2018-08-22T16:27:00.000' AS DateTime))
INSERT [dbo].[SysModule] ([Id], [ParentId], [FullName], [EnCode], [Icon], [UrlAddress], [Target], [IsExpand], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060469954211614720', N'1060468559337099264', N'角色管理', N'RoleManage', N'fa fa-key', N'/SystemManage/Role/Index', N'_blank', 0, 3, 1, 0, NULL, N'1060467618403717120', CAST(N'2018-08-29T15:38:50.000' AS DateTime))
GO
INSERT [dbo].[SysPermission] ([Id], [ModuleType], [SysModuleId], [ObjectType], [AuthorizeId], [CreatorAccountId], [CreatorTime]) VALUES (N'1096259219461640192', 1, N'1060468559337099264', 1, N'1060467690218590208', NULL, CAST(N'2019-02-15T12:05:40.000' AS DateTime))
INSERT [dbo].[SysPermission] ([Id], [ModuleType], [SysModuleId], [ObjectType], [AuthorizeId], [CreatorAccountId], [CreatorTime]) VALUES (N'1096259219461640193', 1, N'1060469432956096512', 1, N'1060467690218590208', NULL, CAST(N'2019-02-15T12:05:40.000' AS DateTime))
INSERT [dbo].[SysPermission] ([Id], [ModuleType], [SysModuleId], [ObjectType], [AuthorizeId], [CreatorAccountId], [CreatorTime]) VALUES (N'1096259219461640194', 1, N'1060469954211614720', 1, N'1060467690218590208', NULL, CAST(N'2019-02-15T12:05:40.000' AS DateTime))
GO
INSERT [dbo].[SysRole] ([Id], [FullName], [EnCode], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060467618403717120', N'超级管理员', N'admin', 1, 1, 0, NULL, N'1059727415166767104', CAST(N'2018-09-05T17:26:45.000' AS DateTime))
INSERT [dbo].[SysRole] ([Id], [FullName], [EnCode], [SortCode], [EnabledMark], [DeleteMark], [Description], [CreatorAccountId], [CreatorTime]) VALUES (N'1060467690218590208', N'管理员', N'root', 2, 1, 0, NULL, N'1059727415166767104', CAST(N'2018-09-06T11:10:31.000' AS DateTime))
GO
INSERT [dbo].[SysUser] ([Id], [AccountId], [RealName], [NickName], [HeadIcon], [Gender], [Birthday], [MobilePhone], [Email], [WeChat], [Signature], [Description]) VALUES (N'1059728764583415808', N'1059727415166767104', N'超级管理员', NULL, N'/Uploads/Pictures/20181112113235.jpg', 0, CAST(N'2018-11-12T00:00:00.000' AS DateTime), N'15612345678', N'15612345678@qq.com', NULL, NULL, NULL)
INSERT [dbo].[SysUser] ([Id], [AccountId], [RealName], [NickName], [HeadIcon], [Gender], [Birthday], [MobilePhone], [Email], [WeChat], [Signature], [Description]) VALUES (N'1059729257196032000', N'1059728142672990208', N'管理员1', NULL, N'/Uploads/Pictures/20210102152034.jpg', 1, CAST(N'2018-11-06T00:00:00.000' AS DateTime), N'15612345678', N'15612345678@qq.com', NULL, NULL, NULL)
GO
INSERT [dbo].[TagsInfo] ([Id], [TagName], [BGColor], [SortCode], [DeleteMark], [EnabledMark], [CreatorTime]) VALUES (N'1077870758560141312', N'.net  core', N'#355e7d', 1, 0, 0, CAST(N'2018-12-26T18:16:29.000' AS DateTime))
INSERT [dbo].[TagsInfo] ([Id], [TagName], [BGColor], [SortCode], [DeleteMark], [EnabledMark], [CreatorTime]) VALUES (N'1078097213978185728', N'Redis', N'#8906fc', 2, 0, 1, CAST(N'2018-12-27T09:16:20.000' AS DateTime))
INSERT [dbo].[TagsInfo] ([Id], [TagName], [BGColor], [SortCode], [DeleteMark], [EnabledMark], [CreatorTime]) VALUES (N'1078097393855107072', N'Nginx', N'#6e23c4', 3, 0, 1, CAST(N'2018-12-27T09:17:03.000' AS DateTime))
GO
INSERT [dbo].[TimeLine] ([Id], [Content], [PublishDate], [DeleteMark], [CreatorTime]) VALUES (N'1082202708485738496', N'<p><img src=\"https://www.37czone.com/js/layui/images/face/39.gif\" alt=\"[鼓掌]\"><img src=\"https://www.37czone.com/js/layui/images/face/39.gif\" alt=\"[鼓掌]\"><img src=\"https://www.37czone.com/js/layui/images/face/39.gif\" alt=\"[鼓掌]\">元旦快乐！！！</p>', CAST(N'2019-01-01T00:00:00.000' AS DateTime), 0, CAST(N'2019-01-07T17:10:07.000' AS DateTime))
INSERT [dbo].[TimeLine] ([Id], [Content], [PublishDate], [DeleteMark], [CreatorTime]) VALUES (N'1082204239545110529', N'<p><span><img src=\"https://www.37czone.com/js/layui/images/face/63.gif\" alt=\"[给力]\">37℃空间博客正式上线啦O(∩_∩)O哈哈~。</span></p>', CAST(N'2019-01-01T10:12:26.000' AS DateTime), 0, CAST(N'2019-01-07T17:16:12.000' AS DateTime))
GO
ALTER TABLE [dbo].[ArticleCategory] ADD  DEFAULT (NULL) FOR [ArticleId]
GO
ALTER TABLE [dbo].[ArticleCategory] ADD  DEFAULT (NULL) FOR [CategoryId]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [Title]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [CreativeType]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [Source]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [SourceLink]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [Author]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [Summary]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [Thumbnail]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [PublishDate]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [IsTop]
GO
ALTER TABLE [dbo].[ArticleInfo] ADD  DEFAULT (NULL) FOR [Visible]
GO
ALTER TABLE [dbo].[ArticleTags] ADD  DEFAULT (NULL) FOR [ArticleId]
GO
ALTER TABLE [dbo].[ArticleTags] ADD  DEFAULT (NULL) FOR [TagsId]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [Title]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [ImgUrl]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [Link]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [Target]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [DeleteMark]
GO
ALTER TABLE [dbo].[BannerInfo] ADD  DEFAULT (NULL) FOR [CreatorTime]
GO
ALTER TABLE [dbo].[CategoryInfo] ADD  DEFAULT (NULL) FOR [CategoryName]
GO
ALTER TABLE [dbo].[CategoryInfo] ADD  DEFAULT (NULL) FOR [ParentId]
GO
ALTER TABLE [dbo].[CategoryInfo] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[CategoryInfo] ADD  DEFAULT (NULL) FOR [EnabledMark]
GO
ALTER TABLE [dbo].[CategoryInfo] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[FriendLink] ADD  DEFAULT (NULL) FOR [SiteName]
GO
ALTER TABLE [dbo].[FriendLink] ADD  DEFAULT (NULL) FOR [Link]
GO
ALTER TABLE [dbo].[FriendLink] ADD  DEFAULT (NULL) FOR [Logo]
GO
ALTER TABLE [dbo].[FriendLink] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [ArticleId]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [RootId]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [ParentId]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [FromUId]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [ToUId]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [Content]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [IP]
GO
ALTER TABLE [dbo].[LeaveMsgInfo] ADD  DEFAULT (NULL) FOR [Adscription]
GO
ALTER TABLE [dbo].[NoticeInfo] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[NoticeInfo] ADD  DEFAULT (NULL) FOR [Link]
GO
ALTER TABLE [dbo].[NoticeInfo] ADD  DEFAULT (NULL) FOR [Target]
GO
ALTER TABLE [dbo].[NoticeInfo] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [OpenId]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [NikeName]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [Gender]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [Birthday]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [Province]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [Image40]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [Image100]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [IsMaster]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [LastLoginTime]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [AccessToken]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [ExpireDate]
GO
ALTER TABLE [dbo].[QQuserInfo] ADD  DEFAULT (NULL) FOR [RefreshToken]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [UserName]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [Password]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [RoleId]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [EnabledMark]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [CreatorAccountId]
GO
ALTER TABLE [dbo].[SysAccount] ADD  DEFAULT (NULL) FOR [DeleteAccountId]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [SysModuleId]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [FullName]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [Icon]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [EnCode]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [Location]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [JsEvent]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [UrlAddress]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[SysButton] ADD  DEFAULT (NULL) FOR [CreatorAccountId]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [ParentId]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [FullName]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [EnCode]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [Icon]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [UrlAddress]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [Target]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [IsExpand]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [EnabledMark]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[SysModule] ADD  DEFAULT (NULL) FOR [CreatorAccountId]
GO
ALTER TABLE [dbo].[SysPermission] ADD  DEFAULT (NULL) FOR [ModuleType]
GO
ALTER TABLE [dbo].[SysPermission] ADD  DEFAULT (NULL) FOR [SysModuleId]
GO
ALTER TABLE [dbo].[SysPermission] ADD  DEFAULT (NULL) FOR [ObjectType]
GO
ALTER TABLE [dbo].[SysPermission] ADD  DEFAULT (NULL) FOR [AuthorizeId]
GO
ALTER TABLE [dbo].[SysPermission] ADD  DEFAULT (NULL) FOR [CreatorAccountId]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT (NULL) FOR [FullName]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT (NULL) FOR [EnCode]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT (NULL) FOR [EnabledMark]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT (NULL) FOR [CreatorAccountId]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [AccountId]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [RealName]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [NickName]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [HeadIcon]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [Gender]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [Birthday]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [MobilePhone]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [WeChat]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [Signature]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TagsInfo] ADD  DEFAULT (NULL) FOR [TagName]
GO
ALTER TABLE [dbo].[TagsInfo] ADD  DEFAULT (NULL) FOR [BGColor]
GO
ALTER TABLE [dbo].[TagsInfo] ADD  DEFAULT (NULL) FOR [SortCode]
GO
ALTER TABLE [dbo].[TagsInfo] ADD  DEFAULT (NULL) FOR [EnabledMark]
GO
ALTER TABLE [dbo].[TimeLine] ADD  DEFAULT (NULL) FOR [Content]
GO
ALTER TABLE [dbo].[TimeLine] ADD  DEFAULT (NULL) FOR [PublishDate]
GO
USE [master]
GO
