<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" internalLogFile="nlog.txt" internalLogLevel="Debug">
  <targets>
    <!-- add your targets here -->
    <!--文本日志-->
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${level}/${shortdate}.log" layout="${longdate} ${callsite} ${level}: ${message} ${event-context:item=exception} ${stacktrace}" />
    <!--异常日志-->
    <target xsi:type="Database" name="ExceptionLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionstring="Database='appsoft';Data Source='192.168.31.56';User Id='admin';Password='123456';charset='utf8';pooling=true">
      <commandText>
        INSERT INTO sysexceptionlog
        (ExceptionId,Message,StackTrace,InnerException,ExceptionType,ServerHost,ClientHost,Runtime,RequestUrl,RequestData,UserAgent,HttpMethod,CreateaAcountId,CreateUserName,CreatorTime)
        VALUES
        (@ExceptionId,@Message,@StackTrace,@InnerException,@ExceptionType,@ServerHost,@ClientHost,@Runtime,@RequestUrl,@RequestData,@UserAgent,@HttpMethod,@CreateaAcountId,@CreateUserName,@CreatorTime)
      </commandText>
      <parameter name="@ExceptionId" layout="${event-context:item=ExceptionId}"/>
      <parameter name="@Message" layout="${event-context:item=Message}"/>
      <parameter name="@StackTrace" layout="${event-context:item=StackTrace}"/>
      <parameter name="@InnerException" layout="${event-context:item=InnerException}"/>
      <parameter name="@ExceptionType" layout="${event-context:item=ExceptionType}"/>
      <parameter name="@ServerHost" layout="${event-context:item=ServerHost}"/>
      <parameter name="@ClientHost" layout="${event-context:item=ClientHost}"/>
      <parameter name="@Runtime" layout="${event-context:item=Runtime}"/>
      <parameter name="@RequestUrl" layout="${event-context:item=RequestUrl}"/>
      <parameter name="@RequestData" layout="${event-context:item=RequestData}"/>
      <parameter name="@UserAgent" layout="${event-context:item=UserAgent}"/>
      <parameter name="@HttpMethod" layout="${event-context:item=HttpMethod}"/>
      <parameter name="@CreateaAcountId" layout="${event-context:item=CreateaAcountId}"/>
      <parameter name="@CreateUserName" layout="${event-context:item=CreateUserName}"/>
      <parameter name="@CreatorTime" layout="${event-context:item=CreatorTime}"/>
    </target>
    <!--操作日志-->
    <target xsi:type="Database" name="OperateLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionstring="Database='appsoft';Data Source='192.168.31.56';User Id='admin';Password='123456';charset='utf8';pooling=true">
      <commandText>
        INSERT INTO sysoperatelog
        (OperateId,ClientHost,ServerHost,RequestContentLength,RequestType,Url,UrlReferrer,RequestData,UserAgent,ControllerName,ActionName,ActionExecutionTime,ResultExecutionTime,ResponseStatus,Description,CreateAccountId,CreateUserName,CreatorTime)
        VALUES
        (@OperateId,@ClientHost,@ServerHost,@RequestContentLength,@RequestType,@Url,@UrlReferrer,@RequestData,@UserAgent,@ControllerName,@ActionName,@ActionExecutionTime,@ResultExecutionTime,@ResponseStatus,@Description,@CreateAccountId,@CreateUserName,@CreatorTime)
      </commandText>
      <parameter name="@OperateId" layout="${event-context:item=OperateId}"/>
      <parameter name="@ClientHost" layout="${event-context:item=ClientHost}"/>
      <parameter name="@ServerHost" layout="${event-context:item=ServerHost}"/>
      <parameter name="@RequestContentLength" layout="${event-context:item=RequestContentLength}"/>
      <parameter name="@RequestType" layout="${event-context:item=RequestType}"/>
      <parameter name="@Url" layout="${event-context:item=Url}"/>
      <parameter name="@UrlReferrer" layout="${event-context:item=UrlReferrer}"/>
      <parameter name="@RequestData" layout="${event-context:item=RequestData}"/>
      <parameter name="@UserAgent" layout="${event-context:item=UserAgent}"/>
      <parameter name="@ControllerName" layout="${event-context:item=ControllerName}"/>
      <parameter name="@ActionName" layout="${event-context:item=ActionName}"/>
      <parameter name="@ActionExecutionTime" layout="${event-context:item=ActionExecutionTime}"/>
      <parameter name="@ResultExecutionTime" layout="${event-context:item=ResultExecutionTime}"/>
      <parameter name="@ResponseStatus" layout="${event-context:item=ResponseStatus}"/>
      <parameter name="@Description" layout="${event-context:item=Description}"/>
      <parameter name="@CreateAccountId" layout="${event-context:item=CreateAccountId}"/>
      <parameter name="@CreateUserName" layout="${event-context:item=CreateUserName}"/>
      <parameter name="@CreatorTime" layout="${event-context:item=CreatorTime}"/>
    </target>
    <!--SQL日志-->
    <target xsi:type="Database" name="SqlLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionstring="Database='appsoft';Data Source='192.168.31.56';User Id='admin';Password='123456';charset='utf8';pooling=true">
      <commandText>
        INSERT INTO sysexecutesqllog
        (ExecuteId,SqlCommand,Parameter,ElapsedTime,IsFail,Massage,CreateAccountId,CreateUserName,CreatorTime)
        VALUES
        (@ExecuteId,@SqlCommand,@Parameter,@ElapsedTime,@IsFail,@Massage,@CreateAccountId,@CreateUserName,@CreatorTime)
      </commandText>
      <parameter name="@ExecuteId" layout="${event-context:item=ExecuteId}"/>
      <parameter name="@SqlCommand" layout="${event-context:item=SqlCommand}"/>
      <parameter name="@Parameter" layout="${event-context:item=Parameter}"/>
      <parameter name="@ElapsedTime" layout="${event-context:item=ElapsedTime}"/>
      <parameter name="@IsFail" layout="${event-context:item=IsFail}"/>
      <parameter name="@Massage" layout="${event-context:item=Massage}"/>
      <parameter name="@CreateAccountId" layout="${event-context:item=CreateAccountId}"/>
      <parameter name="@CreateUserName" layout="${event-context:item=CreateUserName}"/>
      <parameter name="@CreatorTime" layout="${event-context:item=CreatorTime}"/>
    </target>
    <!--登录日志-->
    <target xsi:type="Database" name="LoginLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionstring="Database='appsoft';Data Source='192.168.31.56';User Id='admin';Password='123456';charset='utf8';pooling=true">
      <commandText>
        INSERT INTO sysloginlog
        (LoginId,IpAddressName,ServerHost,ClientHost,UserAgent,OsVersion,LoginTime,CreateAccountId,CreatorTime)
        VALUES
        (@LoginId,@IpAddressName,@ServerHost,@ClientHost,@UserAgent,@OsVersion,@LoginTime,@CreateAccountId,@CreatorTime)
      </commandText>
      <parameter name="@LoginId" layout="${event-context:item=LoginId}"/>
      <parameter name="@IpAddressName" layout="${event-context:item=IpAddressName}"/>
      <parameter name="@ServerHost" layout="${event-context:item=ServerHost}"/>
      <parameter name="@ClientHost" layout="${event-context:item=ClientHost}"/>
      <parameter name="@UserAgent" layout="${event-context:item=UserAgent}"/>
      <parameter name="@OsVersion" layout="${event-context:item=OsVersion}"/>
      <parameter name="@LoginTime" layout="${event-context:item=LoginTime}"/>
      <parameter name="@CreateAccountId" layout="${event-context:item=CreateAccountId}"/>
      <parameter name="@CreatorTime" layout="${event-context:item=CreatorTime}"/>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--文本日志-->
    <logger name="FileLog"  minlevel="Trace"  writeTo="file"/>
    <!--异常日志-->
    <logger name="ExceptionLog" minlevel="Debug" appendTo="ExceptionLogDB"/>
    <!--操作日志-->
    <logger name="OperateLog" minlevel="Debug" appendTo="OperateLogDB"/>
    <!--SQL日志-->
    <logger name="SqlLog" minlevel="Debug" appendTo="SqlLogDB"/>
    <!--SQL日志-->
    <logger name="LoginLog" minlevel="Debug" appendTo="LoginLogDB"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>