
@{
    ViewData["Title"] = "37度空间-关于";
}
@section css{
    <link href="~/web/css/blog.css" rel="stylesheet" />
    <link href="~/web/css/about.css" rel="stylesheet" />
    <style type="text/css">
        .blog-nav .layui-nav {
            width: 100%;
        }
    </style>
}
<div class="blog-body">
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
            <a href="/" title="网站首页">网站首页</a>
            <a><cite>关于本站</cite></a>
        </blockquote>
        <div class="blog-main">
            <div class="layui-tab layui-tab-brief shadow" lay-filter="tabAbout">
                <ul class="layui-tab-title">
                    <li lay-id="1" class="layui-this">关于博客</li>
                    <li lay-id="2">关于作者</li>
                    <li lay-id="3" id="frinedlink">友情链接</li>
                    <li lay-id="4">留言墙</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="aboutinfo">
                            <div class="aboutinfo-figure">
                                <img alt="博客Log" src="~/web/images/tree.png" />
                                <div><a class="long_wang animated fadeInLeftBig" href="#">念舊</a></div>
                            </div>
                            <p class="aboutinfo-introduce animated fadeInRightBig">一个.net程序猿的个人博客，主要记录自己学习历程、有趣的事物以及资源分享...</p>
                            <p class="aboutinfo-location animated fadeInLeftBig"><i class="fa fa-link"></i>&nbsp;&nbsp;<a target="_blank" href="javascript:void(0);">www.miboxapp,com</a></p>
                            <hr />
                            <div class="aboutinfo-contact animated fadeInRightBig">
                                <a title="网站首页" href="/"><i class="fa fa-home fa-2x" style="font-size:2.5em;position:relative;top:3px"></i></a>
                                <a title="文章专栏" href="/article/list"><i class="fa fa-file-text fa-2x"></i></a>
                                <a title="资源分享" href="/home/works"><i class="fa fa-paper-plane-o fa-2x"></i></a>
                                <a title="点点滴滴" href="/home/timeline"><i class="fa fa-hourglass-half fa-2x"></i></a>
                            </div>
                            <fieldset class="layui-elem-field layui-field-title animated fadeInLeftBig">
                                <legend>简介</legend>
                                <div class="layui-field-box aboutinfo-abstract">
                                    <p style="text-align:center;">博客是一个由.net开发的个人博客网站，诞生于2019年01月01日元旦，前端页面使用“Absolutely”大神提供的前端模板页面加上自己东拼西凑完成，UI框架使用的layui，网站架构使用.net core 2.2开发，后台管理系统模板使用“layuicms后台管理模版2.0”框架。个人博客基本功能已经实现，后续将会继续完善功能和页面的优化！</p>
                                    <h1 style="text-align:center;">The End</h1>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--关于网站End-->
                    <div class="layui-tab-item">
                        <div class="aboutinfo">
                            <div class="aboutinfo-figure">
                                <img src="~/web/images/default.jpg" />
                            </div>
                            <p class="aboutinfo-nickname">念舊</p>
                            <p class="aboutinfo-introduce animated fadeInLeftBig">一枚90后程序猿（O(∩_∩)O哈哈~），主要从事.net开发工作(⊙o⊙)…</p>
                            <p class="aboutinfo-location animated fadeInLeftBig"><i class="fa fa-location-arrow"></i>&nbsp;<span>中国 - 湖北</span></p>
                            <hr />
                            <div class="aboutinfo-contact animated bounceIn">
                                <a target="_blank" title="QQ交流" href="http://shang.qq.com/email/stop/email_stop.html?qq=823302316"><i class="fa fa-qq fa-2x"></i></a>
                                <a target="_blank" title="给我写信" href="mailto:823302316@qq.com"><i class="fa fa-envelope fa-2x"></i></a>
                                <a target="_blank" title="码云" href="https://gitee.com/miss_you"><i class="fa fa-git-square fa-2x"></i></a>
                                <a target="_blank" title="后台管理" href="/main"><i class="fa fa-database fa-2x"></i></a>
                            </div>
                            <fieldset class="layui-elem-field layui-field-title animated bounceInUp">
                                <legend>简介</legend>
                                <div class="layui-field-box aboutinfo-abstract abstract-bloger">
                                    <p style="text-align:center;">诞生于1992年，目前是一个码农，从事.net方向的研究和开发。</p>
                                    <h1>个人信息</h1>
                                    <p>
                                        这个人很懒，什么也没有留下....
                                    </p>
                                    <h1>个人介绍</h1>
                                    <p>性别：男，爱好：女（O(∩_∩)O哈哈~）</p>
                                    <h1>未来</h1>
                                    <p>先挣它一个亿再说...</p>
                                    <h1 style="text-align:center;">The End</h1>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--关于作者End-->
                    <div class="layui-tab-item">
                        <div class="aboutinfo">
                            <div class="aboutinfo-figure">
                                <img src="~/web/images/handshake.png" alt="友情链接" />
                            </div>
                            <p class="aboutinfo-nickname">友情链接</p>
                            <p class="aboutinfo-introduce">Name：37℃空间博客&nbsp;&nbsp;&nbsp;&nbsp;Site：www.miboxapp.com</p>
                            <p class="aboutinfo-location">
                                <i class="fa fa-close"></i>经常宕机&nbsp;
                                <i class="fa fa-close"></i>不合法规&nbsp;
                                <i class="fa fa-close"></i>插边球站&nbsp;
                                <i class="fa fa-close"></i>红标报毒&nbsp;
                                <i class="fa fa-check"></i>原创优先&nbsp;
                                <i class="fa fa-check"></i>技术优先
                            </p>
                            <hr />
                            <div class="aboutinfo-contact">
                                <p style="font-size:2em;">互换友链，携手并进！</p>
                            </div>
                            <fieldset class="layui-elem-field layui-field-title animated fadeInRightBig">
                                <legend>Friend Link</legend>
                                <div class="layui-field-box">
                                    <ul class="friendlink" id="link">
                                        <!--友情链接-->
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--友情链接End-->
                    <div class="layui-tab-item">
                        <div class="aboutinfo">
                            <div class="aboutinfo-figure">
                                <img src="~/web/images/messagewall.png" alt="留言墙" />
                            </div>
                            <p class="aboutinfo-nickname">留言墙</p>
                            <p class="aboutinfo-introduce">本页面可留言、吐槽、提问。欢迎灌水，杜绝广告！</p>
                            <p class="aboutinfo-location">
                                <i class="fa fa-clock-o"></i>&nbsp;<span id="time"></span>
                            </p>
                            <hr />
                            <div class="aboutinfo-contact">
                                <p style="font-size:2em;">沟通交流，拉近你我！</p>
                            </div>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>Leave a message</legend>
                                <div class="layui-field-box">
                                    <div class="leavemessage" style="text-align:initial">
                                        <form class="layui-form">
                                            <div class="layui-form-item">
                                                <textarea name="content" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea"></textarea>
                                            </div>
                                            <div class="layui-form-item">
                                                <button class="layui-btn" lay-submit="formLeaveMessage" lay-filter="formLeaveMessage">提交留言</button>
                                            </div>
                                        </form>
                                        <ul class="blog-comment" style="text-align:left;" id="messageList"></ul>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div><!--留言墙End-->
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/template" id="linkview">
    {{#  layui.each(d, function(index, item){ }}
    <li>
        <a target="_blank" href="{{item.Link}}" title="{{item.SiteName}}" class="friendlink-item">
            <p class="friendlink-item-pic">
                {{# if(item.Logo){}}
                <img src="{{item.Logo}}" />
                {{# };}}
            </p>
            <p class="friendlink-item-title">{{item.SiteName}}</p>
            <p class="friendlink-item-domain">{{item.Link}}</p>
        </a>
    </li>
    {{#  }); }}
</script>
<script type="text/template" id="msgview">
    <li>
        <div class="comment-parent">
            <img src="{{d.Image40}}" alt="{{d.NikeName}}">
            <div class="info">
                <span class="username">{{d.NikeName}}</span>
            </div>
            <div class="content">
                {{d.Content}}
            </div>
            <p class="info info-footer">
                <span class="time">{{d.CreatorTime}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{d.Adscription}}</span>&nbsp;&nbsp;
                <a class="btn-reply" style="color: #009688;font-size:14px;" href="javascript:;" onclick="btnReplyClick(this)">回复</a>
            </p>
        </div>
        <hr>
        {{# layui.each(d.Reply,function(index,item){ }}
        <div class="comment-child">
            <img src="{{item.FromImage}}" alt="{{item.FromNikeName}}">
            <div class="info">
                <span class="username">	{{item.FromNikeName}} : </span>
                {{# if(item.IsMaster){ }}
                <span class="is_bloger">博主</span>
                {{# }; }}
                &nbsp;回复 <span class="username">@@{{item.ToNikeName}}：</span>
                <span>{{item.Content}}</span>
            </div>
            <p class="info"><span class="time">{{item.CreatorTime}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{item.Adscription}}</span></p>
        </div>
        <hr>
        {{# }); }}
        {{# if(d.page>1){ }}
        <div class="layui-flow-more"><a href="javascript:void(0);" data-rootid="{{d.MsgId}}" data-page="2" data-total="{{d.page}}" onclick="nextpage(this);" style="cursor:pointer;">查看更多回复</a></div>
        {{# }; }}
        <!-- 回复表单默认隐藏 -->
        <div class="replycontainer layui-hide">
            <form class="layui-form">
                <div class="layui-form-item">
                    <textarea name="content" lay-verify="replyContent" placeholder="回复  @@{{d.NikeName}}:" class="layui-textarea" style="min-height:80px;"></textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-mini" data-rootid="{{d.MsgId}}" data-fromid="{{d.FromUId}}" lay-submit="formReply" lay-filter="formReply">提交</button>
                </div>
            </form>
        </div>
    </li>
</script>
<script type="text/template" id="moreview">
    {{# layui.each(d,function(index,item){ }}
    <div class="comment-child">
        <img src="{{item.FromImage}}" alt="{{item.FromNikeName}}">
        <div class="info">
            <span class="username">	{{item.FromNikeName}} : </span>
            {{# if(item.IsMaster){ }}
            <span class="is_bloger">博主</span>
            {{# }; }}
            &nbsp;回复 <span class="username">@@{{item.ToNikeName}}：</span>
            <span>{{item.Content}}</span>
        </div>
        <p class="info"><span class="time">{{item.CreatorTime}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{item.Adscription}}</span></p>
    </div>
    <hr>
    {{# }); }}
</script>
@section script{
    <script src="~/web/js/about.js"></script>
}