
@{
    ViewData["Title"] = "登录";
}
<form class="layui-form">
    <div class="login_face"><img src="~/images/default.png" class="userAvatar"></div>
    <div class="layui-form-item input-item">
        <label for="userName">用户名</label>
        <input type="text" placeholder="请输入用户名" autocomplete="off" id="userName" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item">
        <label for="password">密码</label>
        <input type="password" placeholder="请输入密码" autocomplete="off" id="password" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item" id="imgCode">
        <label for="code">验证码</label>
        <input type="text" placeholder="请输入验证码" autocomplete="off" id="code" maxlength="4" class="layui-input" lay-verify="required">
        <img id="imgVerifyCode" src="/Main/Login/ValidateCode" onclick="this.src='/Main/Login/ValidateCode?'+Math.random();" />
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block" lay-filter="login" lay-submit>登录</button>
    </div>
</form>
@section script{
    <script src="@Url.Content("~/js/login.js")"></script>
}

